@model TurfManagement.Models.TurfModel

@{
    ViewBag.Title = "Book Turf";
}
<head>
    <!-- Include jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Include other necessary scripts here -->
    <script src="../scripts/jquery.validate.js"></script>
    <script src="../scripts/jquery.validate.unobtrusive.js"></script>
    <script src="../scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="../scripts/jquery.validate.min.js"></script>

    <script defer src="~/Js/TurfValidation.js"></script>

</head>

<h2>List Turf</h2>

<div class="alert alert-success" id="successMessage" style="display: none;">
    Data saved successfully!
</div>

<div class="alert alert-danger" id="errorMessage" style="display: none;">
    Error occurred while saving data.
</div>

<body>
    @using (Html.BeginForm("SubmitTurf", "TurfController", FormMethod.Post))
    {
        <label for="date">Select Date:</label>
        <input type="date" id="datePicker" class="form-control mb-3" />


        <label for="locationDropdown">Select Location:</label>

        <select id="locationDropdown" class="form-control mb-3">
            <option value="">Select Location</option>
            @foreach (var location in ViewBag.Locations)
            {
                <option value="@location">@location</option>
            }
        </select>

        { Html.RenderPartial("_ListTurf"); }


        <label for="sportDropdown">Select Sport :</label>
        <select id="sportDropdown" class="form-control mb-3">
            <option value="">Select Sport</option>
        </select>
    }

    <div id="timeSlotButtonsContainer" class="mt-3"></div>

    <div class="buttonContainer">
        <button id="submitButton" class="btn btn-primary mt-3">Book Now</button>
        <button type="button" class="btn btn-warning mt-3" id="clearButton">Clear</button>
    </div>

    <script>
       var getTurfsUrl = '@Url.Action("ListTurf", "Turf")';
       var getSportsUrl = '@Url.Action("GetSports", "Turf")';
       var getAvailableTimeSlotsUrl = '@Url.Action("GetAvailableTimeSlots", "Turf")';
       var bookTimeSlotUrl = '@Url.Action("BookTimeSlots", "Turf")';
       var userId = @ViewBag.userId;
    </script>
</body>







